Repository COS301-SE-2025/Marito, pull requests merged in 2025-06, with the labels that each got.

#132 Upgrade/login register application
  backend/docker-compose.yml
  backend/migrations/alembic/versions/495946073be3_initial_database_schema.py
  frontend/dev-dist/sw.js
Labels: bug

#135 Develop
  backend/docker-compose.yml
  backend/migrations/alembic/versions/495946073be3_initial_database_schema.py
  frontend/dev-dist/sw.js
Labels: enhancement

#139 Backend/glossary
  .husky/pre-commit
  backend/analytics-service/app/api/v1/endpoints/analytics.py
  backend/analytics-service/app/api/v1/endpoints/glossary.py
  backend/docker-compose.yml
  backend/glossary-service/Dockerfile
  backend/glossary-service/Mock_Data/communityActivity.json
  backend/glossary-service/Mock_Data/fakeUsers.py
  backend/glossary-service/Mock_Data/multilingual_statistical_terminology_clean.json
  backend/glossary-service/Mock_Data/recentTerms.json
  backend/glossary-service/Mock_Data/termData.json
  backend/glossary-service/Mock_Data/users.json
  backend/glossary-service/app/__init__.py
  backend/glossary-service/app/api/__init__.py
  backend/glossary-service/app/api/v1/__init__.py
  backend/glossary-service/app/api/v1/endpoints/__init__.py
  backend/glossary-service/app/api/v1/endpoints/glossary.py
  backend/glossary-service/app/crud/glossary.py
  backend/glossary-service/app/main.py
  backend/glossary-service/app/tests/conftest.py
  backend/glossary-service/app/tests/test_crud_search.py
  backend/glossary-service/app/tests/test_search.py
  backend/glossary-service/app/tests/test_suggest.py
  backend/glossary-service/pyproject.toml
  backend/glossary-service/requirements.txt
  backend/glossary-service/scripts/ingest_data.py
  frontend/src/config.ts
  frontend/src/pages/SpecificGlossary.tsx
Labels: enhancement

#141 Develop
  frontend/src/pages/GlossaryPage.tsx
  frontend/src/styles/GlossaryPage.scss
Labels: enhancement

#159 Updating with glossary intergration
  frontend/src/components/ui/LeftNav.tsx
  frontend/src/pages/DashboardPage.tsx
  frontend/src/pages/GlossaryPage.tsx
  frontend/src/styles/GlossaryPage.scss
Labels: enhancement, backend, frontend, test

#166 Feature/offline voting
  backend/run_tests.sh
  backend/vote-service/app/tests/__init__.py
  backend/vote-service/app/tests/conftest.py
  backend/vote-service/app/tests/test_vote_endpoint.py
  backend/vote-service/requirements.txt
  frontend/index.html
  frontend/src/components/auth/AnimatedGreeting.tsx
  frontend/src/components/ui/TermCard.tsx
  frontend/src/custom.d.ts
  frontend/src/pages/LandingPage.tsx
  frontend/src/styles/AnimatedGreeting.css
  frontend/src/styles/LandingPage.css
  frontend/src/sw.ts
  frontend/src/utils/indexedDB.ts
Labels: frontend

#168 docs:updated use case diagrams
  Documentation/UseCaseDiagrams/Dictionary,Glossaies and Term Banl.jpg
  Documentation/UseCaseDiagrams/Export System.jpg
Labels: documentation

#176 test:updated analytics and glossary tests
  backend/analytics-service/app/tests/test_analytics_coverage.py
  backend/analytics-service/app/tests/test_analytics_integration.py
  backend/glossary-service/app/tests/conftest.py
  backend/glossary-service/app/tests/test_glossary.py
  backend/glossary-service/app/tests/test_integration.py
  backend/glossary-service/app/tests/test_real_endpoints.py
  backend/glossary-service/app/tests/test_unit_functions.py
  backend/glossary-service/pyproject.toml
  backend/glossary-service/requirements.txt
  backend/run_tests.sh
Labels: backend, test
