Repository COS301-SE-2025/Marito, pull requests merged in 2025-08, with the labels that each got.

#269 Feature/comments&chatbot
  backend/alembic-service/entrypoint.sh
  backend/comment-service/Dockerfile
  backend/comment-service/__init__.py
  backend/comment-service/app/api/__init__.py
  backend/comment-service/app/api/deps.py
  backend/comment-service/app/api/v1/__init__.py
  backend/comment-service/app/api/v1/endpoints/__init__.py
  backend/comment-service/app/api/v1/endpoints/comments.py
  backend/comment-service/app/crud/crud_comment.py
  backend/comment-service/app/crud/crud_user.py
  backend/comment-service/app/main.py
  backend/comment-service/pyproject.toml
  backend/comment-service/requirements.txt
  backend/docker-compose.yml
  backend/mavito-common-lib/mavito_common/models/__init__.py
  backend/mavito-common-lib/mavito_common/models/comment.py
  backend/mavito-common-lib/mavito_common/models/comment_vote.py
  backend/mavito-common-lib/mavito_common/models/term.py
  backend/mavito-common-lib/mavito_common/models/user.py
  backend/mavito-common-lib/mavito_common/schemas/comment.py
  backend/mavito-common-lib/mavito_common/schemas/user.py
  backend/mavito-common-lib/mavito_common_lib.egg-info/SOURCES.txt
  backend/migrations/alembic/env.py
  backend/migrations/alembic/versions/79b88ba65186_added_voting_and_comments.py
  backend/migrations/alembic/versions/d31d2962675b_add_comments_and_voting_tables.py
  backend/vote-service/app/api/v1/endpoints/vote.py
  backend/vote-service/app/tests/test_vote_endpoint.py
  frontend/src/components/Icons.tsx
  frontend/src/components/TermDetail/CommentItem.tsx
  frontend/src/config.ts
  frontend/src/pages/LoginPage.tsx
  frontend/src/pages/RegistrationPage.tsx
  frontend/src/pages/TermDetailPage.tsx
  frontend/src/styles/TermDetailPage.scss
  frontend/src/types/termDetailTypes.ts
Labels: enhancement, implementation, backend, frontend

#293 Upgrade/auth service
  backend/auth-service/app/api/v1/endpoints/auth.py
  backend/auth-service/app/api/v1/endpoints/uploads.py
  backend/auth-service/app/crud/crud_user.py
  backend/auth-service/app/main.py
  backend/auth-service/app/utils/gcs.py
  backend/auth-service/requirements.txt
  backend/linguist-application-service/app/api/deps.py
  backend/linguist-application-service/app/api/v1/endpoints/applications.py
  backend/linguist-application-service/app/crud/crud_linguist_application.py
  backend/linguist-application-service/app/crud/crud_user.py
  backend/linguist-application-service/app/main.py
  backend/mavito-common-lib/mavito_common/core/config.py
  backend/mavito-common-lib/mavito_common/core/exceptions.py
  backend/mavito-common-lib/mavito_common/models/bookmark.py
  backend/mavito-common-lib/mavito_common/models/group_term.py
  backend/mavito-common-lib/mavito_common/models/linguist_application.py
  backend/mavito-common-lib/mavito_common/models/workspace_group.py
  backend/mavito-common-lib/mavito_common/models/workspace_note.py
  backend/mavito-common-lib/mavito_common/schemas/linguist_application.py
  backend/mavito-common-lib/mavito_common/schemas/user.py
  backend/migrations/alembic/versions/4942f1396707_adjusted_linguist_application.py
  backend/migrations/alembic/versions/f01636d83e8d_adjusted_linguist_application.py
  frontend/Tests/AdminPage.test.tsx
  frontend/Tests/LoginPage.test.tsx
  frontend/Tests/RegistrationPage.test.tsx
  frontend/dev-dist/registerSW.js
  frontend/dev-dist/sw.js
  frontend/index.html
  frontend/package-lock.json
  frontend/package.json
  frontend/public/locales/en/translation.json
  frontend/src/App.tsx
  frontend/src/components/ui/LeftNav.tsx
  frontend/src/components/ui/Navbar.tsx
  frontend/src/config.ts
  frontend/src/main.tsx
  frontend/src/pages/AdminPage.tsx
  frontend/src/pages/GlossaryPage.tsx
  frontend/src/pages/LinguistApplicationPage.tsx
  frontend/src/pages/LoginPage.tsx
  frontend/src/pages/RegistrationPage.tsx
  frontend/src/pages/TermDetailPage.tsx
  frontend/src/pages/WorkspacePage.tsx
  frontend/src/styles/LinguistApplicationPage.scss
  frontend/src/styles/Navbar.scss
  frontend/src/styles/ProgressTracker.scss
Labels: bug, enhancement, implementation, design, backend, frontend

#308 Feature/feedback backend
  backend/docker-compose.yml
  backend/feedback-service/Dockerfile
  backend/feedback-service/app/__init__.py
  backend/feedback-service/app/api/__init__.py
  backend/feedback-service/app/api/deps.py
  backend/feedback-service/app/api/v1/__init__.py
  backend/feedback-service/app/api/v1/api.py
  backend/feedback-service/app/api/v1/endpoints/__init__.py
  backend/feedback-service/app/api/v1/endpoints/feedback.py
  backend/feedback-service/app/crud/__init__.py
  backend/feedback-service/app/crud/crud_feedback.py
  backend/feedback-service/app/crud/crud_user.py
  backend/feedback-service/app/main.py
  backend/feedback-service/app/tests/__init__.py
  backend/feedback-service/app/tests/conftest.py
  backend/feedback-service/app/tests/test_feedback_api.py
  backend/feedback-service/app/tests/test_feedback_crud.py
  backend/feedback-service/app/tests/test_rbac.py
  backend/feedback-service/pyproject.toml
  backend/feedback-service/requirements.txt
  backend/mavito-common-lib/mavito_common/models/__init__.py
  backend/mavito-common-lib/mavito_common/models/feedback.py
  backend/mavito-common-lib/mavito_common/models/user.py
  backend/mavito-common-lib/mavito_common/schemas/feedback.py
  backend/migrations/alembic/env.py
  backend/migrations/alembic/versions/bb1a1a4b78f6_add_feedback_table_with_enums.py
  frontend/Tests/FeedbackHub.test.tsx
  frontend/Tests/FeedbackPage.test.tsx
  frontend/Tests/integration/WorkspacePage.integration.test.tsx
  frontend/src/components/AdminErrorBoundary.tsx
  frontend/src/components/ui/AdminNav.tsx
  frontend/src/components/ui/FeedbackForm.tsx
  frontend/src/components/ui/LeftNav.tsx
  frontend/src/components/ui/Navbar.tsx
  frontend/src/config.ts
  frontend/src/hooks/useAdminAuth.ts
  frontend/src/pages/AdminPage.tsx
  frontend/src/pages/FeedbackHub.tsx
  frontend/src/pages/FeedbackPage.tsx
  frontend/src/styles/AdminNav.scss
  frontend/src/styles/FeedbackHub.scss
  frontend/src/styles/FeedbackPage.scss
  frontend/src/styles/LeftNav.scss
  frontend/src/styles/Navbar.scss
  frontend/src/types/feedback.ts
Labels: backend, frontend, test

#311 Test/glossary workspace
  Documentation/UserStories/Feedback.md
  Documentation/UserStories/Workspace.md
  frontend/src/components/ui/GlossaryTermCard.tsx
  frontend/src/pages/NewGlossary.tsx
  frontend/src/styles/NewGlossary.scss
  frontend/src/styles/WorkspacePage.scss
Labels: documentation, frontend

#317 Docs/tech manual
  Documentation/Technical Installation Manual/Technical Installation Manual.pdf
  README.md
Labels: documentation
