Repository COS301-SE-2025/Marito, pull requests merged in 2025-07, with the labels that each got.

#203 Feature/dashboard
  Documentation/Architecture Diagrams/DeploymentArchDiag.pdf
  Documentation/Architecture Diagrams/LocalDevArchDiag.pdf
  Documentation/Srs/Archive/srs_demo1.pdf
  Documentation/Srs/Archive/srs_demo2.pdf
  Documentation/System Requirements/Architectual_requirements V1.1.1.pdf
  Documentation/System Requirements/Architectual_requirements.tex
  Documentation/System Requirements/Marito_Architectual_Requirements V1.1.0.pdf
  Documentation/System Requirements/Mavito Architecture requirements v1.0.0.pdf
  Documentation/UseCaseDiagrams/Offline_use_case.pdf
  Documentation/UseCaseDiagrams/User Acess use case.pdf
  README.md
  backend/analytics-service/app/api/v1/endpoints/analytics.py
  backend/analytics-service/app/tests/conftest.py
  backend/analytics-service/app/tests/test_analytics_ci.py
  backend/analytics-service/app/tests/test_analytics_coverage.py
  backend/analytics-service/app/tests/test_analytics_integration.py
  backend/analytics-service/app/tests/test_analytics_unit.py
  backend/analytics-service/app/tests/test_term_analytics.py
  backend/analytics-service/requirements.txt
  backend/docker-compose.yml
  frontend/src/components/data/Histogram.tsx
  frontend/src/config.ts
  frontend/src/pages/AnalyticsPage.tsx
Labels: documentation, enhancement, backend, frontend, test, data

#200 Dictionary Styling and Mode Switching
  backend/search-service/app/api/v1/endpoints/search.py
  backend/search-service/app/crud/crud_search.py
  backend/search-service/app/tests/test_crud_search.py
  frontend/Tests/Dashboard.test.tsx
  frontend/Tests/GlossaryPage.test.tsx
  frontend/Tests/SearchPage.test.tsx
  frontend/dev-dist/sw.js
  frontend/src/components/ui/DarkModeComponent.tsx
  frontend/src/components/ui/LeftNav.tsx
  frontend/src/components/ui/Navbar.tsx
  frontend/src/main.tsx
  frontend/src/pages/SearchPage.tsx
  frontend/src/pages/help/CommunityHelp.tsx
  frontend/src/pages/help/FrequentlyAskedPage.tsx
  frontend/src/pages/help/GettingStarted.tsx
  frontend/src/pages/help/HelpPage.tsx
  frontend/src/pages/help/TermHelpPage.tsx
  frontend/src/styles/SearchPage.scss
Labels: design, backend, frontend, test

#211 Feature/analytics update
  frontend/Tests/AnalyticsPage.test.tsx
  frontend/src/pages/AnalyticsPage.tsx
  frontend/src/styles/AnalyticsPage.scss
Labels: frontend, test

#212 Feature/admin page updates
  frontend/Tests/AdminPage.test.tsx
  frontend/src/pages/AdminPage.tsx
  frontend/src/styles/AdminPage.scss
Labels: frontend, test

#251 Mocked detailed term page with comments
  backend/.gitignore
  frontend/.gitignore
  frontend/src/App.tsx
  frontend/src/components/Icons.tsx
  frontend/src/components/TermDetail/CommentItem.tsx
  frontend/src/components/TermDetail/VotingSection.tsx
  frontend/src/components/ui/LeftNav.tsx
  frontend/src/config.ts
  frontend/src/pages/TermDetailPage.tsx
  frontend/src/styles/TermDetailPage.scss
  frontend/src/styles/VotingSection.scss
  frontend/src/types/termDetailTypes.ts
Labels: frontend
